:root{
    --rowNum: 0;
    --columnNum: 0;
}
*{
    margin:0;
    padding:0;
}
header{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 10vh;
    padding: .5em;
    justify-content: center;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
}
#sideButtons{
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 2em;
    align-items: center;
}
#sideButtons input{
    width: 7em;
    height: 4em;
}
#sideButtons button{
    padding: 1em;
    width: 7em;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#gridContainer{
    height: 70vh;
    width: 600px;
    display: grid;
    grid-template-rows: repeat(var(--rowNum), 1fr);
    grid-template-columns: repeat(var(--columnNum), 1fr);
    background-color: #fff;
    border: 6px solid rgb(253, 16, 155);
    border-radius: 2%;
}
.cell{
    box-sizing: border-box;
    border: 1.5px solid rgb(0, 0, 0);
    background-color: #fff;
}